.container {
  margin: 2rem 0;
}

.definitionHeading {
  margin-bottom: 1.333rem;
}

.synonym {
  margin-top: 3.333rem;
}

.list {
  font-family: var(--global-font-family);
  font-weight: 400;
  display: grid;
  row-gap: 0.779em;
  grid-template-columns: min-content 1fr;
  overflow-wrap: break-word;
}

.list li,
.example {
  display: contents;
  list-style: none;
}

.example {
  display: block;
  grid-column: 2;
  color: var(--gray);
}

.list li::before {
  content: "\2022";
  color: var(--purple);
  display: inline;
  padding: 0 1.111rem;
}
