.container {
  margin-top: 2.889rem;
  margin-bottom: 2.889rem;
}

.button {
  border: 0;
  background: transparent;
}

@media (width <= 548px) {
  .container {
    margin-top: 1.333rem;
    margin-bottom: 1.667rem;
  }
}
