.container {
  margin-bottom: 2.889rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainword {
  margin-bottom: 2rem;
}

.phonetic {
  font-size: 1.333rem;
  color: var(--purple);
  margin-top: 0.25rem;
}

.partofspeech {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partofspeech div,
.linkLine {
  background-color: var(--platinum);
  height: 1px;
  width: 100%;
}

.partofspeech div {
  margin-left: 1.111em;
}

.linkLine {
  margin-bottom: 1rem;
}

.source {
  color: var(--gray);
  margin-right: 1.111rem;
}

.link {
  font-size: 0.778rem;
  font-family: var(--global-font-family);
  text-decoration: underline;
  text-decoration-color: var(--gray);
}

.icon {
  margin-left: 0.444rem;
}
