.container {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stroke {
  stroke: var(--gray-purple);
}

.wrapper {
  display: flex;
}

.divider {
  background: var(--platinum);
  width: 0.056em;
  margin: 0 1.444em;
}

@media (width <= 548px) {
  .divider {
    margin: 0 0.889em;
  }
}

.sans {
  font-family: var(--sans-serif);
}

.serif {
  font-family: var(--serif);
}

.mono {
  font-family: var(--mono);
}
